*
!~/wallpapers/wallpaper-old.png
!~/wallpapers/wallpaper.png
!README.md
!LICENSE
!.xprofile
!.gitignore
!.gitconfig
!.xinitrc
!.config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/neofetch/
!.config/neofetch/config.conf
!.config/picom/
!.config/picom/picom.conf
!.config/colorls/files.yaml
!.config/rofi/
!.config/rofi/config.rasi
!.config/i3/
!.config/i3/config
!.config/redshift/
!.config/redshift/redshift.conf
!.scripts