# Ignored directories
Downloads
Trash
.cache
.config/Code
.mozilla/
.local
.vscode
.pki
.gnupg
.electron*
.config/configstore
go
.GoLand*
.java*
.ssh
.rvm

# Ignored files
.bash_history
.Xauthority
user
.viminfo
.netrwhist